# EditorConfig is awesome: http://EditorConfig.org
# ( I kept the comment above because I agree :) )

# Top-most EditorConfig file
root = true

[*]
charset = utf-8
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

# Java, Clojure
[*.{java,clj,cljs,cljc,edn}]
charset = utf-16

# Java
[*.java]
indent_size = 4

# Handlebars templates
[*.hbs]
insert_final_newline = false
