$v-font-family: 'Lato', 'Lora';
$v-font-weight: 400;
$v-font-size: 14px;

//noinspection CssUnknownTarget
@import '../valo/valo';

@mixin sqlrose {
  @include valo;

  // Colours:

  $sh-r: 0;
  $sh-g: $sh-r;
  $sh-b: $sh-r;
  $sh-a: 0.2;

  // Selectors:

  html {
    text-shadow: 0 1px 0 rgba($sh-r, $sh-g, $sh-b, $sh-a);
  }

  .sr-selectable {
    &:hover {
      background: darken($v-background-color, 10%);
      color: $v-selection-color;
      cursor: $v-link-cursor;
    }
  }

  .sr-w-ds {
    border-radius: 2px;
    padding: 0.2em 0.5em;
    width: 100%;

    .v-icon {
      margin-right: 1em;
    }
  }
}
