$v-font-family: 'Lato', 'Lora';
$v-font-weight: 400;

//noinspection CssUnknownTarget
@import '../valo/valo';

@mixin sqlrose {
  @include valo;

  // Colours:

  $sh-r: 0;
  $sh-g: $sh-r;
  $sh-b: $sh-r;
  $sh-a: 0.2;

  // Selectors:

  html {
    text-shadow: 0 /*1px*/ 0 6px rgba($sh-r, $sh-g, $sh-b, $sh-a);
  }
}
